@inherits LayoutComponentBase

<div class="ms-Fabric page">
    <div class="sidebar">
        <p>Nice and shine</p>
    </div>

    <div class="main">
        <div>
            @*<LoginDisplay />*@
            <a href="#" target="_blank">Link</a>
        </div>

        <div>
            <h1>Hello</h1>
            <h2>Hello</h2>
            <h3>Hello</h3>
            <h4>Hello</h4>
            <h5>Hello</h5>
            <h6>Hello</h6>
            @Body
        </div>
    </div>
</div>
