.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin: 0px;
    padding: 3px;
    width: 20vw;
    top:0;
    left:0;
    bottom:0;
    height: 100vh;
    background-color: Background;
}

.main {
    margin: 0px;
    padding: 3px;
    width: 80vw;
    height: 100vh;
    flex: 1;
}


@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
