@page "/"
@inject PredictionEnginePool<ModelInput, ModelOutput> predictionEnginePool

<div class="text-center">
    <h2>Live Sentiment</h2>

    <div class="row">
        <div class="col">
            <textarea id="Message"
                      cols="45"
                      placeholder="Type any text like a short review"
                      @bind="Text">
            </textarea>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" @onclick="GetSentiment">
                Update heading
            </button>
        </div>
    </div>
    <p>@Sentiment</p>
</div>


@*// https://www.kaggle.com/bittlingmayer/amazonreviews*@

<p>@AddNumbers(1,2)</p>