@page
@model Saffron.Pages.IndexModel
@{
    util.Title = "Home";
}

@*// https://www.kaggle.com/bittlingmayer/amazonreviews*@


<div class="ms-bgColor-blue">
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor amet.</p>
</div>