@page
@model Saffron.Pages.IndexModel
@{
    util.Title = "Home";
}

@*// https://www.kaggle.com/bittlingmayer/amazonreviews*@



<div class="container">
    <div class="ms-Grid" dir="ltr">
        <div class="ms-Grid-row">
            @foreach (var item in UtilityService.GetEmojies())
            {
                <div class="ms-Grid-col ms-sm1 ms-md3 ms-lg3 p-3 text-center">
                    <h1>@item.Label</h1>
                    <img src="@item.Href" class="self-center responsive" height="24" width="24" />
                </div>
            }
        </div>
    </div>
</div>