@page
@model Saffron.Pages.IndexModel
@{
    utilityService.Title = "Home";
}

@*// https://www.kaggle.com/bittlingmayer/amazonreviews*@




<p>Assalamu Alaikum</p>
<a href="@navigationService.AddNewBlog">Add New Post</a>