@page "{statuscode}"
@model NotFoundModel
@{
    ViewData["Title"] = "Page not found";
}

<div class="container-fluid text-center">
    <div class="mb-2">
        <img class="img-fluid" style="max-height:400px"
             src="404.svg" />
    </div>
    <div class="container mt-3">
        <p>
            Sorry to say but the page you are looking for doesn't exists.
        </p>
        <p>
            You can contact me via
            <a href="mailto:mahmudnotes@outlook.com">mahmudnotes@outlook.com</a> BTW.
        </p>
    </div>
</div>

