@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: "Noto Sans Bold";
    src: url("./noto.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Regular";
    src: url("./noto-re.ttf") format("truetype");
}



:root {
    font-size: 16px;
    font-family: "Open Sans";
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --first-color: #27133D;
    --second-color: #A424FF;
    --third-color: #8809E3;
    --fourth-color: #859600;
    --fifth-color: #7C3FC2;
    --text-primary: #161514;
    --text-secondary: #292827;
}

@import url("Components/Header.css");
@import url("Components/Footer.css");

body {
    margin: 0;
    font-family: 'Segoe UI','Open Sans','Noto Sans Bengali','Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    margin: 0;
    background-color: #fff;
}

    body:before {
        -ms-background-size: cover;
        background-size: cover;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        content: "";
        -webkit-will-change: transform;
        -moz-will-change: transform;
        -o-will-change: transform;
        will-change: transform;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed;
    }


#go-to-top {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

a {
    font-family: 'Open Sans', 'Noto Sans Bengali', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: var(--fourth-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

p {
    color: var(--text-secondary);
}

img {
    height: 100%;
    width: 100%;
}

.scrollbar-custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--fifth-color);
    display: auto;
}


/*== Header ==*/

.top-bar {
    height: 10px;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: var(--first-color);
}

.header {
    background-color: #F5F3F1;
    color: #000;
    position: absolute;
    top: 10px;
    height: 48px;
    width: 100%;
    width: -moz-available;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

    .header > a > img {
        max-height: 100%;
        height: 40px;
        width: 40px;
        align-content: center;
        align-self: center;
    }

    .header > a {
        color: #1b1a19;
        text-decoration: none !important;
    }

    .header .divider {
        height: 30px;
        width: 3px;
        background-color: black;
        align-self: center;
        margin: 0 1vw;
    }

    .header .links {
        color: #1b1a19;
        align-self: center;
    }

header .links > a {
    color: #1b1a19;
    font-weight: 600;
    font-size: large;
    margin: 0 5px;
}

.header > .account {
    color: #1b1a19;
    align-self: center;
    margin-left: auto;
}

header .account > a {
    color: #1b1a19;
    font-weight: 600;
    font-size: large;
    margin: 0 5px;
}


/*== Footer ==*/

.bottom-bar {
    height: 10px;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: var(--first-color);
}

.footer {
    bottom: 10px;
    width: 100%;
    width: -moz-available;
    box-sizing: border-box;
    background-color: #1b1a19;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 15px;
}

    .footer > p {
        color: #edebe9;
    }

    .footer .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

footer .links > a {
    margin: 0 5px;
    color: #8764b8;
}


/*== Main ==*/
.main {
    top: 58px;
    position: relative;
    padding: 15px 10px;
    overflow: hidden;
    height: 100%;
    height: fit-content;
    display: inline-block;
    scroll-behavior: auto;
    padding: 3vh 10vw;
    min-height: 71vh;
}

@media only screen and (max-width: 600px) {
    .img_center {
        width: 100%;
    }

    .header {
        flex-flow: column;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }

    .main {
        top: auto;
        position: relative;
        padding: 0 6vw;
    }

    .links {
        margin-left: auto;
        margin-right: auto;
    }

    .account {
        margin-left: auto;
        margin-right: auto;
    }

    .header .divider {
        display: none;
    }
}
