button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 1.2rem 1.5rem;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
}
button:active {
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
}
