@font-face {
  font-family: "FluentSystemIcons-Regular";
  src: url("./fluenticon.ttf?ee1911ac92d4ea0932aba54dd8b207e1")
    format("truetype");
}

.icon {
  /*line-height: 85px;*/
  font-size: 24px;
  /*color: #1a1a1a;*/
  vertical-align: central;
}

.icon:before {
  font-family: FluentSystemIcons-Regular !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
}

.icon:empty:before {
  width: 1em;
  text-align: center;
  box-sizing: content-box;
  vertical-align: central;
}

.ic-arrow-up-28:before {
  content: "\f19d";
}

.ic-dismiss-24:before {
  content: "\f36a";
}

.ic-navigation-24:before {
  content: "\f561";
}
