@inject Saffron.Services.CoreServices.UtilityService utilityService

<footer class="footer">
    <div class="links">

        <a>Privacy</a>|
        <a href="/terms.html">TOS</a>|
        <a href="/logo.html">Logo</a>|
        <a>History</a>|
        <a href="/careers.html">Career</a>
    </div>

    <p>Made with love in Bangladesh</p>
</footer>
<div class="bottom-bar"></div>
