@inject Saffron.Services.CoreServices.UtilityService utilityService

<div class="top-bar"></div>
<header class="header">
    <a href="@utilityService.SiteUri">
        <img src="/img/logo.svg" alt="Website's logo" />
    </a>
    <div class="divider"></div>
    <div class="links">
        <a href="@utilityService.SiteUri">Home</a>
        <a href="">About</a>
        <a href="">Products</a>
        <a href="">Solutions</a>
        <a href="">Docs</a>
    </div>
    <div class="account">
        <a href="">Store</a>
        <a href="">Login</a>
        <a href="">Sign Up</a>
    </div>
</header>